body 
{
  background-color: #ee6000;
}

header
{
    position: 
    text-align: center;
    background: white;
}

nav
{
    display: flex;
    background: lightcoral;
}

nav ul
{
    display: flex;
    justify-content: space-around;
}

nav ul li
{
    display: block;
    justify-content: space-around;
}

h2
{
   text-align: center;
}

main
{
    display: flex;
    justify-content: space-around;
    
}

aside
{
   border: 5px groove yellow
}